{
    "singleQuote": true,
    "trailingComma": "all",
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@/components/(.*)$",
        "^@/layout/(.*)$",
        "^@/ui/(.*)$",
        "^@/providers/(.*)$",
        "^@/shared/(.*)$",
        "^@/assets/(.*)$",
        "^@/config/(.*)$",
        "^@/store/(.*)$",
        "^@/hooks/(.*)$",
        "^@/types/(.*)$",
        "^@/utils/(.*)$",
        "^@/api/(.*)$",
        "^../(.*)",
        "^./(.*)"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}